/* Méthodologie choisie: BEM et ITCSS  */

:root {
  --font-primary: sans-serif;

  --space-basis: 0.75vw;
  --space-small: calc(var(--space-basis) * 2);
  --space-medium: calc(var(--space-basis) * 4);
  --space-large: calc(var(--space-basis) * 8);
  --space-xlarge: calc(var(--space-basis) * 12);

  --size-small: 0.85rem;
  --size-medium: 1rem;
  --size-large: 1.5rem;
  --size-xlarge: 2rem;

  --color-primary: #0f2027;
  --color-secondary: #c79763;
  --color-titles: #8b0101;
  --color-black: black;
  --color-tile: #f3f1e1;
  --color-label: rgb(243, 245, 246);

  --numStampsPerPage: 16;
  --numColumnsMobile: 1;
  --numColumnsTablet: 2;
  --numColumnsSmallScreen: 3;
  --numColumnsLargeScreen: 4;
  --numColumnsXLargeScreen: 5;

  --side-nav-width: 200px;

  --grid-gap: ;
}
