.hidden {
  display: none;
}

.blue {
  color: blue;
}

.inactif {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

.sonTour {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease-in-out;
  transform: scale(1.025);
}

.stop {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.busted {
  color: red;
}

.gagnant {
  color: green;
  opacity: 1;
  transition: transform 1s ease-in-out;
  transform: scale(1.1);
}

[data-js-timbre] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--color-tile);
  border-radius: 10px;
  border: 5px dotted white;
  box-sizing: border-box;
  width: 100%;
}

[data-js-timbre] > * {
  padding: 5px;
}

.grid__title {
  display: flex;
  width: 100%;
  height: 250px;
}

.timbre__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.timbre__info > h3:first-child,
.enchere__info > *:first-child {
  margin-top: var(--space-small);
  line-height: 1.5;
}

.timbre__info > h3:first-child {
  color: var(--color-titles);
}

.description--lot,
.date--debut,
.date--fin,
.mise--courante {
  color: var(--color-primary);
  font-weight: 600;
}

.mise--courante span {
  color: var(--color-titles);
}

.detail--lot {
  margin-top: var(--space-medium);
  display: flex;
  justify-content: center;
}

.enchere__info > * + * {
  margin-top: var(--space-small);
}

.grid__tuile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.titre--timbre {
  text-align: center;
  font-weight: 900;
  font-size: var(--size-large);
}

.noLot {
  font-size: var(--size-small);
  font-weight: 100;
  color: black;
}

[data-js-games] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

[data-js-btns] {
  display: flex;
  flex-wrap: wrap;
}

[data-js-btns] > button {
  padding: 10px;
}

[data-js-btns] > * {
  margin: 0px 10px 10px 0px;
}

[data-js-error] {
  color: red;
}

[data-js-titre] {
  text-align: center;
}

.expire {
  color: var(--color-titles);
}

.hidden {
  display: none;
}
